<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sql-generator</title>

    <!--core Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <!--helper css-->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!--jquery ui css-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body ng-app="myApp" ng-controller="mainController">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50&text=Logo" alt="">
            </a>
            -->
            <p id="logo">SQL Generator</p>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<!--
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Database Diagram</h1>
        </div>
    </div>
</div>
-->
<div class="container" id="main">
    <div class="row">
        <form class="" id="board">

            <div id="table">
                <div class="tables" data-drag="true" jqyoui-draggable ng-repeat="tableName in tableList">

                    <!--table head-->
                    <div>
                        <h4 class="col-sm-6">{{tableName.tName}}</h4>

                        <button type="button" class="btn btn-default col-sm-3" data-toggle="modal"
                                data-target=".bs-modal-sm"
                                ng-controller="sendController" ng-click="send(tableName.tName)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default col-sm-3" ng-click="deleteTable(tableName.tName)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>


                    <!-- columns -->
                    <div class="col-sm-12 columns" title={{tableName.tName}}
                         ng-repeat="item in displayColumn(tableName.tName)">
                        <p class="pull-left">{{item.cName}}: {{item.typeList}}</p>
                        <a class="glyphicon glyphicon-minus pull-right" aria-hidden="true"
                           ng-click="deleteColumn(tableName.tName,item.cName)"></a>
                        <a class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" data-toggle="modal"
                           data-target=".bs-modal-sm2"
                           ng-controller="sendTwoController" ng-click="sendtwo(tableName.tName, item.cName)"></a>

                    </div>
                </div>
            </div>


        </form>
        <div class="" id="controller">
            <input class="controller-input" id="tableName" type="text" placeholder="table name" ng-model="tableName">
            <input class="controller-btn" id="add-tbl" type="button" value="ADD TABLE" ng-click="createTable(tableName)">
            <input class="controller-btn" id="generate" type="button" value="GENERATE" ng-click="generate=!generate ">
            <!--<input id="test" type="button" value="TEST">-->
            <input class="controller-btn" type="button" id="jsplumb" value="visible node">
            <input class="controller-btn" type="button" value="clear node" ng-click="clear()">
        </div>

    </div>
</div>




<!-- query result -->
<div class="container" ng-init="generate=false;" ng-if="generate">
    <div class="row">
        <div class="col-md-11" id="result-query">
            <p ng-repeat="tableName in tableList">CREATE TABLE {{tableName.tName}} <br>
                (<br>
                <span ng-repeat="item in getColumns(tableName.tName)">{{item.cName}}&nbsp;{{item.typeList}}<span
                        ng-show="item.dataLength!=undefined">(</span>{{item.dataLength}}<span
                        ng-show="item.dataLength!=undefined">)</span>&nbsp;{{item.nullCKBox}}<span
                        ng-show="item.aiCKBox">&nbsp;AUTO_INCREMENT</span><span
                        ng-show="!$last">,<br></span>

                </span>
                <span ng-if=" tableName.primaryKey.length > 0">,<br>PRIMARY KEY (</span><span
                        ng-repeat="primaryKey in tableName.primaryKey">{{primaryKey}}<span
                        ng-show="!$last">,</span></span><span
                        ng-if=" tableName.primaryKey.length > 0">)</span>
                <span ng-if=" tableName.uniqueKey.length > 0">,<br>UNIQUE KEY (</span><span
                        ng-repeat="uniqueKey in tableName.uniqueKey">{{uniqueKey}}<span ng-show="!$last">,</span></span><span
                        ng-if=" tableName.uniqueKey.length > 0">)</span><br>
                <span ng-repeat="item in getColumns(tableName.tName)">
                    <span ng-if="item.referTable != undefined">FOREIGN KEY ({{item.cName}}) REFERENCES {{item.referTable}} ({{item.referColumn}})<br></span>
                </span>
                );
            </p>
        </div>
    </div>
</div>


<!-- Modal for add column -->
<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" ng-controller="colController">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        <form class="form-horizontal">
                            <fieldset>
                                <label for="cName">Column Name</label>
                                <input type="text" name="cName" id="cName" ng-model="columnInfo.cName">

                                <label for="typeList">Type</label>
                                <select id="typeList" ng-model="columnInfo.typeList"
                                        ng-options="item for item in tableType">
                                </select>

                                <label for="dataLength">Length/Values</label>
                                <input type="text" name="dataLength" id="dataLength" ng-model="columnInfo.dataLength">

                                <label for="attributesList">Attributes</label>
                                <select id="attributesList" ng-model="columnInfo.attributesList"
                                        ng-options="item for item in attributes">
                                </select>

                                <label for="nullCKBox">Null</label>
                                <input type="checkbox" name="nullCKBox" id="nullCKBox" ng-model="columnInfo.nullCKBox"
                                       ng-true-value="'NULL'" ng-false-value="'NOT NULL'">

                                <label for="indexList">Index</label>
                                <select id="indexList" ng-model="columnInfo.indexList"
                                        ng-options="item for item in indexType">
                                </select>

                                <label for="aiCKBox">AI</label>
                                <input type="checkbox" name="aiCKBox" id="aiCKBox" ng-model="columnInfo.aiCKBox">


                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="addCol"></label>
                                    <div class="controls">
                                        <button class="btn btn-success" id="addCol"
                                                ng-click="addColumn()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>
</div>


<!-- Modal for edit column -->
<div class="modal fade bs-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" ng-controller="getTwoController">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        <form class="form-horizontal">
                            <fieldset>
                                <label for="ecName">Column Name</label>
                                <input type="text" name="cName" id="ecName" ng-model="columnInfo.cName">

                                <label for="etypeList">Type</label>
                                <select id="etypeList" ng-model="columnInfo.typeList"
                                        ng-options="item for item in tableType">
                                </select>

                                <label for="edataLength">Length/Values</label>
                                <input type="text" name="dataLength" id="edataLength" ng-model="columnInfo.dataLength">

                                <label for="eattributesList">Attributes</label>
                                <select id="eattributesList" ng-model="columnInfo.attributesList"
                                        ng-options="item for item in attributes">
                                </select>

                                <label for="enullCKBox">Null</label>
                                <input type="checkbox" name="nullCKBox" id="enullCKBox" ng-model="columnInfo.nullCKBox"
                                       ng-true-value="'NULL'" ng-false-value="'NOT NULL'">

                                <label for="eindexList">Index</label>
                                <select id="eindexList" ng-model="columnInfo.indexList"
                                        ng-options="item for item in indexType">
                                </select>

                                <label for="eaiCKBox">AI</label>
                                <input type="checkbox" name="aiCKBox" id="eaiCKBox" ng-model="columnInfo.aiCKBox">


                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="addCol"></label>
                                    <div class="controls">
                                        <button class="btn btn-success" id="editCol"
                                                ng-click="editColumn()">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>
</div>



<footer class="blog-footer">
    <p>© 2016 Rex Kim ALL RIGHTS RESERVED</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<!-- jQuery -->
<script src="./js/jquery-3.1.1.js"></script>
<!-- jQuery-UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- jQuery-cookie -->
<script src="./js/jquery.cookie.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="./js/bootstrap.js"></script>
<!-- AngularJS -->
<script src="./js/angular.js"></script>

<script src="./js/angular-dragdrop.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<!-- jsPlumb -->
<script src="js/jsPlumb-2.2.6-min.js"></script>


<!-- app.js -->
<script src="./app/app.js"></script>


<!-- helper.js -->
<!--
<script src="./js/helper.js"></script>
-->

<!--reset modal-->
<script>
    $('.modal').on('hidden.bs.modal', function () {
        $(this).find('form')[0].reset();
    });
</script>

</body>
</html>